<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>MateriasServlet</servlet-name>
        <servlet-class>utez.edu.mx.sicci.controller.CargarMateriaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MateriasServlet</servlet-name>
        <url-pattern>/MateriasServlet</url-pattern>
    </servlet-mapping>

    <!-- Configuración del filtro para AdminFilter -->
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>utez.edu.mx.sicci.utils.AdminFilter</filter-class> <!-- Cambia esto según el paquete de tu filtro -->
    </filter>
    <filter>
        <filter-name>DocFilter</filter-name>
        <filter-class>utez.edu.mx.sicci.utils.DocFilter</filter-class> <!-- Cambia esto según el paquete de tu filtro -->
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/registrar.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/registrarAdmin.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/registrarCarrera.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/registrarDivision.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/registrarGrupo.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/registrarMateria.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/actualizar.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/actualizarAspirante.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/actualizarCarrera.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/actualizarDoc.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/actualizarGrupo.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/actualizarMateria.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/asignarMatDoc.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/editarUsuario.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/gestCarrera.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/gestionarDoc.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/GestionarGP.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/gestionarMat.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/menuAdminppal.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/listaAspirante.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/listaCarrera.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/listaDivision.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/listaGrupos.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/listaMaterias.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/listaUsuarios.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocFilter</filter-name>
        <url-pattern>/menuDocppal.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocFilter</filter-name>
        <url-pattern>/recovery.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocFilter</filter-name>
        <url-pattern>/aspirante.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocFilter</filter-name>
        <url-pattern>/estadoAspirantes.jsp</url-pattern> <!-- Aplica el filtro a registrar.jsp -->
    </filter-mapping>
    
</web-app>