* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Estilos para el header */
header {
    background-color: #223B87;
    color: #fff;
    /*padding: 0px 8px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: inline-block;

    color: white;
    padding: 9px 9px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 8px;
    border-color: #5784E6;
}



.logout-button {

    display: inline-block;
    background-color: #5784E6;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    border-color: #5784E6;

}

.logout-button:hover{
    background-color: #57B6E6;
}

a {
    color: white;
    text-decoration: none;
}
.house {
    display: inline-block;
    color: white;
    padding: 9px 9px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 8px;
    border-color: #5784E6;
}

.volver1{
    padding: 10px 20px;
    font-size: 16px;
    color: #002DA0;
    background-color: #0B1956 ;
    border: 2px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.volver1:hover {
    background-color: #5884E7;
}
.volver1:focus {
    box-shadow: white;
}


.registrar{
    border: none;
    outline: none;
}

.registrar{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #0B1957;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin: 10px auto;
    right: -25%;
    letter-spacing: 4px;
    border: none;
    outline: none;
}

.registrar:hover {
    background: #5784E6;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #5784E6,
    0 0 25px #5784E6,
    0 0 50px #5784E6,
    0 0 100px #5784E6;
}


.registrar1{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #0B1957;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin: 10px auto;
    right: -10%;
    letter-spacing: 4px;
    border: none;
    outline: none;
}

.registrar1:hover {
    background: #5784E6;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #5784E6,
    0 0 25px #5784E6,
    0 0 50px #5784E6,
    0 0 100px #5784E6;
}

.logo{
    content: " ";
    position: absolute;
    right: 90%;
    z-index: 1;
    top: 130%;

}